body {
	background-color: ghostwhite;
	font-family: Raleway, sans-serif;
}

.navbar-right {    
    margin-right: -15px;
}
.navbar-nav {    
    margin: 0;
}
.navbar-right>li {
    float: left;
}

.container-full {
	margin: 0 auto;
	width: 100%;
}

.row-padding {
	padding-left: 8%;
	padding-right: 8%;
}

.row-strip {
	margin-top: 50px;
	background-color: #72448d;
	color: #eaedf2;
}

.footer-strip{
	margin-top: 50px;
	background-color: #222;
	color: #9d9d9d;
	/* #f2f2e5 */
}
.row-static-height {
	height: 500px;
}

.bgRabit {
	background-image: url('../images/rabit.jpg');
	color: white;
}

.bgStore {
	background-image: url('../images/store.jpg');
	color: white;
}

.bgCandle {
	background-image: url('../images/candle.jpg');
}

.bgBamboo {
	background-image: url('../images/bamboo.jpg');
}

.bgTea {
	background-image: url('../images/tea.jpg');
}

.bgSmall {
	height: 200px;
}

.bgMedium {
	height: 400px;
}

.dt-sc-clear {
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
}

.dt-sc-hr-invisible {
	float: left;
	width: 100%;
	margin: 25px 0;
	display: block;
	clear: both;
}

.skin-bg.parallax-section {
	background-color: rgba(0, 0, 0, 0);
}

.skin-bg.parallax-section .fullwidth-bg {
	background-color: rgba(114, 68, 141, 0.9);
}

.fullwidth-section {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.dt-sc-hr-invisible-medium {
	float: left;
	width: 100%;
	margin: 40px 0;
	display: block;
	clear: both;
}

.column.first {
	clear: both;
	margin-left: 0px;
}

.dt-sc-one-fourth {
	width: 23.4%;
}

.column {
	margin: 0px 0px 0px 2%;
	float: left;
	min-height: 1px;
	position: relative;
}

.skin-bg .dt-sc-counter {
	background: rgba(255, 255, 255, 0.1);
}

.dark-bg .dt-sc-counter .dt-sc-counter-number {
	color: #ffffff;
}

.dt-sc-counter .dt-sc-counter-number {
	clear: both;
	color: #181818;
	font-size: 60px;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 25px;
	position: relative;
}

.dt-sc-counter {
	border-color: #8d68a3;
	border: 1px dashed #555;
	clear: both;
	display: block;
	float: left;
	padding: 10px 0 35px;
	text-align: center;
	width: 100%;
}

/* cross gallery */
.column.no-space.dt-sc-one-fourth {
	width: 25%;
}

.column.no-space {
	margin-left: 0px;
	margin-right: 0px;
}

.column.first {
	margin-left: 0px;
}

.dt-sc-one-fourth {
	width: 23.5%;
}

.column {
	margin: 0px 0px 0px 2%;
	float: left;
	min-height: 1px;
	position: relative;
}

.column.first {
	margin-left: 0px;
}

.dt-sc-full-width, .dt-sc-one-column {
	width: 100%;
}

.column.dt-sc-full-width, .column.dt-sc-one-column {
	margin-left: 0px;
}

.dt-sc-one-half {
	width: 49%;
}

.dt-sc-one-third {
	width: 32%;
}

.dt-sc-two-third {
	width: 66%;
}

.dt-sc-one-fourth {
	width: 23.5%;
}

.dt-sc-three-fourth {
	width: 74.5%;
}

.dt-sc-one-fifth {
	width: 18.4%;
}

.dt-sc-two-fifth {
	width: 38.8%;
}

.dt-sc-three-fifth {
	width: 59.2%;
}

.dt-sc-four-fifth {
	width: 79.6%;
}

.dt-sc-one-sixth {
	width: 15%;
}

.dt-sc-two-sixth {
	width: 32%;
}

.dt-sc-three-sixth {
	width: 49%;
}

.dt-sc-four-sixth {
	width: 66%;
}

.dt-sc-five-sixth {
	width: 83%;
}

.column img {
	max-width: 100%;
	height: auto;
}

.dt-sc-one-half iframe, .dt-sc-one-third iframe, .dt-sc-one-fourth iframe,
	.dt-sc-three-fourth iframe, .dt-sc-two-third iframe, iframe {
	max-width: 100%;
}

embed, iframe, object, video {
	max-width: 100%;
}

.column.no-space {
	margin-left: 0px;
	margin-right: 0px;
}

.column.no-space.dt-sc-one-fourth {
	width: 25%;
}

.column.no-space.dt-sc-one-third {
	width: 33.3%;
}

.column.no-space.dt-sc-one-half {
	width: 50%;
}

.column.no-space.dt-sc-one-fifth {
	width: 20%;
}

.column.no-space.dt-sc-one-sixth {
	width: 16.6%;
}

.column.no-space.dt-sc-three-fourth {
	width: 75%;
}

.column.no-space.dt-sc-two-third {
	width: 66.6%;
}

.column.no-space.dt-sc-four-fifth {
	width: 80%;
}

.column.no-space.dt-sc-three-fifth {
	width: 60%;
}

.column.no-space.dt-sc-two-fifth {
	width: 40%;
}

.column.no-space.dt-sc-two-sixth {
	width: 33.2%;
}

.column.no-space.dt-sc-three-sixth {
	width: 49.8%;
}

.column.no-space.dt-sc-four-sixth {
	width: 66.4%;
}

.column.no-space.dt-sc-five-sixth {
	width: 83%;
}

/* panel section */
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.dt-sc-counter h5 {
	font-size: 22px;
	margin-bottom: 0;
	padding: 5px 0 0;
	position: relative;
	line-height: 24px;
	color: white;
}

.panel.panel-image {
	margin-top: 45px;
}

.panel.panel-image {
	margin-bottom: 0;
	position: relative;
	display: block;
	text-decoration: none;
	display: block;
	border: 2px solid #eaedf2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 15px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.panel.panel-image .panel-heading img {
	display: block;
	height: auto;
	max-width: 100%;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.panel.panel-image .panel-icon {
	position: absolute;
	top: -45px;
	left: 50%;
	margin-left: -45px;
	text-align: center;
	line-height: 90px;
	width: 90px;
	height: 90px;
}

.panel.panel-image .panel-icon {
	-webkit-transition: top 300ms;
	-moz-transition: top 300ms;
	-o-transition: top 300ms;
	transition: top 300ms;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel.panel-image .panel-heading {
	padding: 0;
	border: none;
	max-height: 220px;
	overflow: hidden;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.panel.panel-image .panel-body {
	border: 2px solid #eaedf2;
	border-top: none;
	text-align: center;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 30px;
}

.panel.panel-image .panel-body .panel-title {
	margin: 20px 0;
	color: #434955;
}

.panel.panel-image .panel-body .panel-title {
	font-weight: 500;
	font-size: 22px;
	margin: 0 0 20px 0;
	font-family: 'Lato', sans-serif;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

/* cover help with mobile friendly display */
.jumbotron {
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

.bgLarge {
	height: 500px;
}

.icon {
	height: auto;
	width: 40px;
}

.brand {
	font-size: 50px;
	color: white;
	line-height: 23px;
}

.bannerSection {
	margin-top: 100px;
	position: absolute;
}

.bannerSection h1 {
	color: #fff;
	font-size: 42px;
	font-weight: normal;
	line-height: 25px;
}

.bannerSection h2 {
	color: #1abc9c;
	font-size: 50px;
	font-weight: bold;
	line-height: 70px;
}

.bannerSection h2 .large {
	font-family: 'Great Vibes', cursive;
	font-size: 70px;
}

.bannerSection .button{
	margin-top: 25px;
}
.nav>li>a>i {
	font-size: 25px;
}

.nav>li>a {
	padding-top: 17px;
	padding-bottom: 7px;
	font-size: 17px;
	font-weight: 500;
	font-family: Raleway, sans-serif;
}

.nav>li>.has-icon {
	padding-left: 0px;
	padding-right: 8px;
	padding-top: 13px;
}

.page-header.page-header-with-icon {
	text-align: center;
	/* border-top: 2px solid #eaedf2; */
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 5px;
	margin: 30px 0 30px 0;
}

.page-header.page-header-with-icon>[class*=" fa-"] {
	position: absolute;
	display: block;
	left: 50%;
	top: -25px;
	margin-left: -50px;
	color: #1abc9c;
	font-size: 33px;
	line-height: 50px;
	width: 100px;
	height: 50px;
}

.page-header {
	position: relative;
}

.portfolio-boxes .portfolio-box {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

.portfolio-boxes .portfolio-box a.image-link, .portfolio-boxes .portfolio-box a .image-link
	{
	overflow: hidden;
	display: block;
	position: relative;
	bottom: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: bottom 300ms;
	-moz-transition: bottom 300ms;
	-o-transition: bottom 300ms;
	transition: bottom 300ms;
}

.portfolio-boxes .portfolio-box a {
	text-decoration: none;
	display: block;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}

.container .opening-time {
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 99;
	width: 300px;
}

.opening-time {
	background: url(../images/hanger.png) no-repeat center top;
	width: 215px;
	padding-top: 47px;
	color: #fff;
}

.opening-time .time-table h3 {
	font-size: 18px;
	margin: 0;
	text-align: center;
	color: #fff;
	line-height: 2.2;
}

.opening-time .time-table {
	background-color: #303030;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 8px;
}

.opening-time .time-table>.inner-bg {
	margin: 0 8px;
	padding: 0 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: 1px solid #444;
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .6);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .6);
}

.opening-time .week-day {
	padding: 7px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
}

.opening-time .week-day.light-bg {
	background-color: black;
	opacity: 0.7
}

.opening-time .week-day dt {
	width: 50%;
	float: left;
}

.opening-time .week-day dd {
	text-align: right;
}

.btn-contrast.btn-bordered {
	border-color: 2px solid white;
	/* color: #8dc153; */
	color: white;
	background: #1abc9c;
}

.btn.btn-sm {
	padding: 4px 18px;
	font-size: 14px;
	line-height: 17px;
	border-width: 2px;
}

h1, h2, h3, h4, h5, h6 {
	/* font-family: 'Droid Serif', serif; */
	font-family: Tangerine, cursive;
	font-weight: 400;
}

#gmap iframe, #gmap object, #gmap embed {
	width: 100%;
	height: 350px
}

.border-zero {
	border: 0 !important;
	padding: 0 !important;
}

.inner-menu .menu-list .menu-list-item span.price {
	font-size: 15px;
	line-height: 23px;
	font-weight: 700;
}

.inner-menu .menu-list {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 12px 15px;
	background: #fff;
	border: 1px solid #eaeaea;
	border-radius: 4px;
}

.inner-menu .menu-list .menu-list-item {
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}

.inner-menu .menu-list h3 {
	margin: 0;
	padding-bottom: 6px;
	font-size: 30px;
	color: #777;
	border-bottom: 4px double #eee;
}

.inner-menu .menu-list .menu-list-item h4 {
	margin: 0;
	font-size: 16px;
	line-height: 23px;
}

.inner-menu .menu-list .menu-list-item span.price {
	font-size: 15px;
	line-height: 23px;
	font-weight: 700;
}

.inner-menu .menu-list img {
	margin-top: 15px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

/*Image cropping */
.crop-image {
	height: 350px;
	overflow: hidden;
}

.crop-image-small {
	height: 300px;
	overflow: hidden;
}

.crop-image img {
	width: 100%;
}

.css-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
	background-color: #78FA89;
}

blockquote {
	border-left: none;
}

.thumbnail .caption {
	height: 120px;
}

.carousel-control {
	z-index: 16;
}

.carousel-indicators {
	top: -50px;
	width: 100%;
	z-index: 15;
	overflow-x: hidden;
	white-space: nowrap;
	left: 0%;
	margin-left: 0%;
}

.carousel-indicators li {
	text-indent: 0;
	width: 34px !important;
	height: 34px !important;
	border-radius: 0;
}

.carousel-indicators li img {
	width: 32px;
	height: 32px;
	opacity: 0.5;
}

.carousel-indicators li:hover img, .carousel-indicators li.active img {
	opacity: 1;
}

.carousel-indicators .active {
	border-color: #337ab7;
}

.carousel-indicators ol {
	bottom: -50px;
}

@media ( max-width : 550px) {
	.bannerSection {
		margin-top: 240px;
		position: absolute;
	}
	.bannerSection h1 {
		color: #fff;
		font-size: 30px;
		font-weight: normal;
		line-height: 15px;
	}
	.bannerSection h2 {
		color: #1abc9c;
		font-size: 35px;
		font-weight: bold;
		line-height: 46px;
	}
	.bannerSection h2 .large {
		font-family: 'Great Vibes', cursive;
		font-size: 70px;
	}
	.bannerSection .button {
		margin-top: 15px;
	}
	.row-static-height {
		height: 600px;
	}
	.dt-sc-counter {
		border-color: #8d68a3;
		border: 1px dashed #555;
		clear: both;
		display: block;
		float: left;
		padding: 10px 0 25px;
		text-align: center;
		width: 100%;
	}
	.dt-sc-counter .dt-sc-counter-number {
		clear: both;
		color: #181818;
		font-size: 40px;
		font-weight: bold;
		line-height: normal;
		margin: 0px 0 0px;
		position: relative;
	}
	.dt-sc-counter h5 {
		font-size: 14px;
		margin-bottom: 0;
		padding: 0px 0 0;
		position: relative;
		line-height: 18px;
		color: white;
	}
}