
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bgLarge bgCandle">
	<div class="container">

		<div class="row ">
			<div class="col-lg-7">
				<!-- <div class="bannerSection">
					<div>
						<h1>Welcome to</h1>

						<h2>
							<div class="large">Precious</div>
							<strong style="color: #fff;"> NAIL &amp; SPA </strong>
						</h2>

						<p style="color: #fff; line-height: 25px; font-size: 15px;">Beauty
							is not a shallow preoccupation. Nor is it for certain people
							only. Beauty is a very important asset that is in everyone's best
							interest to leverage.</p>
					</div>
					<div class="button">
						<a class="btn btn-contrast btn-bordered btn-sm" href="#"
							target="_blank">MAKE AN APPOINTMENT</a>
						<div class="clear">&nbsp;</div>
					</div>
				</div> -->

			</div>
			<div class="col-lg-3"></div>
			<div class="col-lg-2">

				<div id="opening_time-2" class="opening-time">
					<div class="time-table">
						<h3>
							<span class="icon icons-ornament-left"></span> <span
								class="light">Business</span> Hours <span
								class="icon icons-ornament-right"></span>
						</h3>
						<div class="inner-bg">
							<dl class="week-day">
								<dt>Monday - Friday</dt>
								<dd>10:00am - 8:00pm</dd>
							</dl>
							<dl class="week-day light-bg">
								<dt>Saturday</dt>
								<dd>9:00am - 7:00pm</dd>
							</dl>
							<dl class="week-day">
								<dt>Sunday</dt>
								<dd>11:00am - 6:00pm</dd>
							</dl>
						</div>
						<div align="center" style="margin-top: 6px;">
							<a target="_blank" href="https://goo.gl/maps/y8GVnakUfQP2">
							<i class="fa fa-location-arrow icon" style="width: 25px;"></i>
							<b>830 S King St Leesburg, VA 20175</b></a>
						</div>
						<div  align="center" style="margin-top: 12px;">
							<a class="has-icon" href="tel:703-779-1777"><i class="fa fa-phone icon" style="width: 25px;" ></i><span style="font-size: 18px">(703) 779-1777</span></a>
						</div>
						<div  align="center" style="margin-top: 12px;">
							<a class="btn btn-contrast btn-bordered btn-sm" id="Setmore_button_iframe" href="https://my.setmore.com/bookingpage/7fe55ac7-93bc-4857-bc3d-bc49ab7709cf">Online Appointment</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-full">
	<div class="row panels row-padding">
		<div class="page-header page-header-with-icon">
			<i class="fa fa-star"></i>
			<h2>Our Services</h2>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services"> 
				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Project planning" width="768"
						height="400" src="images/booth.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Our Commitments</h3>
					<p>You're ensured to experience a new decoration as well as an
						airy and clean space. With the years of experience, we take pride
						of doing a great job in this industry. Our staff always works by
						their talent and passion, you would be treated carefully and
						thoroughly in anytime.</p>
						<a class="btn btn-contrast btn-bordered btn-sm" href="#/coupon">Promotion</a>
						<!-- <a class="btn btn-contrast btn-bordered btn-sm" href="#/appointment">Make An Appointment</a> -->
				</div>
			</div>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services">

				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Easy customizable" width="768"
						height="400" src="images/manicure.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Manicure & Pedicure</h3>
					<p>We offer full range of manicure and pedicure services. A
						paraffin treatment seals in moisture for softer hands and feet.
						Nails are polished to perfection with our luxury nail care
						services.</p>
						<a class="btn btn-contrast btn-bordered btn-sm" href="#/services">Read
							more</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services">
				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Fastest workers" width="768"
						height="400" src="images/microblade.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Permanent Make up</h3>
					<p>Our wax treatment technicians take the utmost care to
						protect the health and elasticity of the skin. The wax is applied
						warm, then removed gently, leaving skin absolutely smooth. This
						refined waxing and threading technique is comfortable and
						result-oriented.</p>
						<a class="btn btn-contrast btn-bordered btn-sm" href="#/microblade">Read More</a>
						
				</div>
			</div>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services">

				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Fastest workers" width="768"
						height="400" src="images/eyelash.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Eyelash Extension</h3>
					<p>Semi-Permanent - lasts serveral weeks. Great for special occasions and regular daily wear<br>
						Water Resistant - shower and swim worry free. Comes in various lengths and thicknesses<br>
						A relaxing procedure taking 45-120 minutes</p>
						<a class="btn btn-contrast btn-bordered btn-sm" href="#/lash">Read More</a>
						
				</div>
			</div>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services">
				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Fastest workers" width="768"
						height="400" src="images/close-up-facial.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Facial</h3>
					<p>These tailored treatments can cater to all skin types and may include deep cleansing, 
					extractions, exfoliation, or more high-tech procedures such as peels and microdermabrasion.	</p>
					<a class="btn btn-contrast btn-bordered btn-sm" href="#/services">Services</a>
						
				</div>
			</div>
		</div>
		<div class="col-sm-4 panel-item">
			<div class="panel panel-image" href="#/services">
				<div class="panel-heading">
					<img class="img-responsive-sm" alt="Fastest workers" width="768"
						height="400" src="images/massage.jpg">
				</div>
				<div class="panel-body">
					<h3 class="panel-title">Waxing & More</h3>
					<p>Our wax treatment technicians take the utmost care to
						protect the health and elasticity of the skin. The wax is applied
						warm, then removed gently, leaving skin absolutely smooth. This
						refined waxing and threading technique is comfortable and
						result-oriented.</p>
						<a class="btn btn-contrast btn-bordered btn-sm" href="#/gallery">Gallery</a>
						
				</div>
			</div>
		</div>

	</div>
	

	<div class="row row-strip row-static-height">
		<div class="col-sm-12">
			<div class="page-header page-header-with-icon">
				<i class="fa fa-quote-right"></i>
				<h2>Testimonials</h2>
			</div>
			<div class="carousel slide" data-ride="carousel" data-interval="5000"
				id="quote-carousel">


				<!-- Carousel Slides / Quotes -->
				<div class="carousel-inner text-center">

					<div class="item active">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>Very clean and is located in a very continent place for
										me. Nice and courteous staff. Comfortable chairs, sterilized,
										clean equipment. Plenty of choice for colors. Expect a
										well-done basic mani/pedi, and they really do extra for you.
										That said, I really enjoyed the experience, a bonus it is very
										affordable price. The staff was very nice. I'd definitely go
										back.</p>
									<small><strong>Lisa M.</strong>- Leesburg, VA</small>
								</div>
							</div>
						</blockquote>
					</div>
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>I've been going to these women for years since they
										opened their first nail & spa place in Leesburg. I always get
										my eye brows waxed from them and any one of them do an
										exceptional job especially since I get nervous every time I
										have that done. All of my family get pedicures there (even my
										dad)! They are all very nice and I think of all the places I
										have been for pedicures and manicures they are the best. They
										do an extremely thorough job and I really love the atmosphere
										of the place. It's very peaceful and I always feel so relaxed.
										Definitely go here!</p>
									<small><strong>Lauren J.</strong>- Leesburg, VA</small>
								</div>
							</div>
						</blockquote>
					</div>

					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>This is my favorite nail salon in Leesburg. I will drive
										out of my way to come here. Their manicures last incredibly
										long and they really know how to take care of you! They also
										do cute and great nail designs. A lot of salons have no nail
										design experience and end up just ruining your manicure.
										Prices are fair but totally worth it, didn't have a bad
										manicure</p>
									<small><strong>Addison J.</strong>- Herdon, VA</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 1 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>My first time to Precious Nails and would never consider
										going anywhere else again. There staff are not only talented
										at what they do, they make their customers feel like family.
										First time I visit I count on both the impeccable
										manicure/fill I leave with and the familiar conversation with
										everyone. I am definitely bring friends and family to enjoy
										the experience here . Save yourself time and disappointment
										and consider no other nail salons in Virginia- this one is the
										best, Recommend!</p>
									<small><strong>Terri C.</strong>- Arlington, VA</small>
								</div>
							</div>
						</blockquote>
					</div>
					<!-- Quote 2 -->
					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>I always come here to get pedicures. They are wonderful,
										and they know how to pamper peoples feet. The spa pedicure is
										really luxurious, and the employees are super friendly. The
										parking lot is a little small that's the only downside but I
										wouldrefer people here they want to get a nice relaxing
										pedicure.</p>
									<small><strong>Melissa K.</strong>- Ashburn, VA</small>
								</div>
							</div>
						</blockquote>
					</div>

					<div class="item">
						<blockquote>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<p>Precious Nail & Spa is nice, clean and well decorated.
										The staffs here are very experienced, sweet, friendly and
										funny. I had a nice conversation during the process. They
										definitely know about nail stuffs, no doubt. The price was
										decent and the results was excellent. The place was crowded
										when I walked in but they moved customers in and out smoothly.
										One of the best around here!</p>
									<small><strong>Kelly R.</strong>- Manassas, VA</small>
								</div>
							</div>
						</blockquote>
					</div>
				</div>

				<!-- Carousel Buttons Next/Prev -->
				<!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
               <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
			</div>
		</div>
	</div>

<!-- 	<div class="dt-sc-hr-invisible"></div>
	<div class="dt-sc-clear"></div>

	<div class="row row-padding">

		<div class="col-md-6">
			<h2 style="margin-bottom: 15px">
				<span class="fa fa-laptop" aria-hidden="true"> </span> Make An
				Appointment
			</h2>

			<form name="form" novalidate class="css-form"
				ng-submit="form.$valid && submit()">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="form-control"
								ng-model="customer.firstName" name="firstName"
								placeholder="First Name*" required>
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control"
								ng-model="customer.lastName" name="lastName"
								placeholder="Last Name*" required>
						</div>
					</div>
				</div>
				<div class="form-group">

					<div class="row">
						<div class="col-xs-6">
							<input type="email" class="form-control"
								ng-model="customer.email" name="emailInput" placeholder="Email*"
								required>
						</div>
						<div class="col-xs-6">
							<input type="number" class="form-control"
								ng-model="customer.phone" name="phoneInput" ng-minlength="10"
								ng-maxlength="10" placeholder="Phone Number*" required>
						</div>
					</div>
				</div>
				<div class="form-group">


					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="form-control" ng-model="customer.date" id="datepicker" placeholder="Pick a Date*" required>
							<input type="text" class="form-control datepicker"
								ng-model="customer.date" id="datepicker"
								placeholder="Pick a Date*" required>
						</div>
						<div class="col-xs-6">
							<timepicker ng-model="customer.time" ng-change="changed()" hour-step="1" minute-step="30" show-meridian="ismeridian"></timepicker>
							<input type="text" class="form-control timepicker"
								ng-model="customer.time" placeholder="Pick a Time*" required>
							        <input type="text" class="form-control timepicker" ng-model="customer.time" id="timepicker" placeholder="Pick a Time*" required />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12 col-xs-12">

							<select class="form-control" ng-model="customer.tech">
								<option value="" disabled selected>Select technician</option>
								<option>Kathy</option>
								<option>Ann</option>
								<option>Tina</option>
								<option>Mimi</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<select class="form-control" ng-model="customer.service">
								<option value="" disabled selected>Select requested
									service</option>
								<option>Manicure</option>
								<option>Pedicure</option>
								<option>Waxing</option>
								<option>Facial</option>
								<option>Nail Services</option>
								<option>Children</option>
								<option></option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="g-recaptcha"
						data-sitekey="6LfqmQwTAAAAAC1C1F1KDuCeoJm9o2C6xTKMoQM6"
						data-callback="recaptchaCallback"></div>
				</div>
				<button type="submit" id="submit"
					ng-disabled="form.$invalid || !validCaptcha"
					class="btn btn-default">Request a Reservation</button>
				{{customer.userNote}}
			</form>

		</div>

		<div class="col-md-6">
			<h2>
				<span class="fa fa-map-marker" aria-hidden="true"> </span> Location
			</h2>
			<div id="gmap">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.134062445376!2d-77.57398938464353!3d39.10341787953938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6162e73b066e3%3A0x14a21908bc40376e!2s830+S+King+St%2C+Leesburg%2C+VA+20175!5e0!3m2!1sen!2sus!4v1453824326936"
					width="600" height="450" frameborder="0" style="border: 0"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>


	<div class="dt-sc-hr-invisible"></div>
	<div class="dt-sc-clear"></div>



	<div
		class="fullwidth-section skin-bg dark-bg parallax-section dt-sc-parallax-section"
		style="background-image: url(&quot;http://wedesignthemes.com/themes/dt-spalab/wp-content/uploads/2014/05/floral-bg-parallax.jpg&quot;);
		 background-attachment: fixed; background-position: 50% 0px; background-repeat: no-repeat;">
		<div class="fullwidth-bg">
			<div class="container">
				<div class="dt-sc-hr-invisible-medium  "></div>
				<div class="dt-sc-clear"></div>
				<div class="column dt-sc-one-fourth  first">
					<div class="dt-sc-counter dc-already-counted" data-counter="250">
						<div class="dt-sc-counter-number">740</div>
						<h5>
							Served Customers <span> </span>
						</h5>
					</div>
				</div>
				<div class="column dt-sc-one-fourth  ">
					<div class="dt-sc-counter dc-already-counted" data-counter="60">
						<div class="dt-sc-counter-number">6</div>
						<h5>
							Experienced Technicians <span> </span>
						</h5>
					</div>
				</div>
				<div class="column dt-sc-one-fourth  ">
					<div class="dt-sc-counter dc-already-counted" data-counter="75">
						<div class="dt-sc-counter-number">75</div>
						<h5>
							Available Services <span> </span>
						</h5>
					</div>
				</div>
				<div class="column dt-sc-one-fourth  ">
					<div class="dt-sc-counter dc-already-counted" data-counter="120">
						<div class="dt-sc-counter-number">16</div>
						<h5>
							Years of Experience <span> </span>
						</h5>
					</div>
				</div>
				<div class="dt-sc-hr-invisible-medium  "></div>
				<div class="dt-sc-clear"></div>
			</div>
		</div>
	</div> -->
	<!-- <div class="row row-padding">
		<div class="col-md-12">
			<div class="page-header page-header-with-icon">
				<span class="fa fa-user"></span>
				<h2>Our Team</h2>
			</div>
			<div class="row portfolio-boxes">
				<div class="col-sm-3 col-xs-6 no-mb-t-xs portfolio-box">
					<a class="image-link" href="#/team"> <img
						class="img-responsive img-rounded center-block" alt="Staffs"
						width="262" height="262" src="images/manager.jpg">
					</a>
					<h3 class="title">Kathy</h3>
					<p class="category">Lead Technican</p>
				</div>
				<div class="col-sm-3 col-xs-6 no-mb-t-xs portfolio-box">
					<a class="image-link" href="#/team"> <img
						class="img-responsive img-rounded center-block" alt="Staffs"
						width="262" height="262" src="images/market.jpg">
					</a>
					<h3 class="title">Minh</h3>
					<p class="category">Customer Relation</p>
				</div>
				<div class="col-sm-3 col-xs-6 portfolio-box">
					<a class="image-link" href="#/team"> <img
						class="img-responsive img-rounded center-block" alt="Staffs"
						width="262" height="262" src="images/person2.webp">
					</a>
					<h3 class="title">Tina</h3>
					<p class="category">Senior Technician</p>

				</div>
				<div class="col-sm-3 col-xs-6 portfolio-box">
					<a class="image-link" href="#/team"> <img
						class="img-responsive img-rounded center-block" alt="Staffs"
						width="262" height="262" src="images/web.jpg">
					</a>
					<h3 class="title">Jason</h3>
					<p class="category">Technical Support & Web Designer</p>

				</div>
			</div>
		</div>

	</div> -->
	<!-- <div class="row">
		<div class="column no-space  dt-sc-one-fourth first">
			<div id="dt_galleries-201" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/manicure.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/massage.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth ">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/wax.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth  ">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/manicure.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth first ">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/spa-pedicure1.jpg" width="1060" height="795"
						alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/manicure.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth ">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/manicure.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>

		<div class="column no-space  dt-sc-one-fourth ">
			<div id="dt_galleries-203" class="dt-gallery gallery no-space">
				<figure>
					<img src="images/manicure.jpg" width="1060" height="795" alt="">
				</figure>
			</div>
		</div>
	</div> -->

</div>

<div class="container-full">
	<div align="center" class="row footer-strip">
		<p style="margin-top:10px;">&copy; Corvus Analytics LLC 2016</p>
	</div>
</div>




